


<div class="aw_stats col-md-4  mb-4">
    <div class="aw_widget_header">
    <h5>{{#str}}teacher_user_stats, block_analyticswidget{{/str}}</h5>

    </div>
    <div class=" aw-widget aw-shadow-box">

        <div>

            <div class="aw-widget-title">
                {{count}}
            </div>
        </div>
        <div class="aw-widget-icon bg-orange">
            <i class="fa fa-users" aria-hidden="true"></i>
        </div>

    </div>
</div>
